.nav{
	background-color: #E54028;
    padding: 14px 16px;
  }

.nav-tabs {
	list-style-type: none;
	margin: 0;
	padding: 14px 16px;
	display: inline-block;
	font-size: 150%;
	text-align: center;
}

.nav-tabs a{
	text-decoration: none;
	color: #D0D102;
}

.nav-tabs a:hover {
	background-color: #616161;
	padding: 14px 16px;
}

.active {
	background-color: #00A1CB;
}

li {
	list-style-type: none;
}

.budget-cat {
	font-size: 200%;
	padding-bottom: 20px;

}

#new-cat {
	color: blue;
}

.garden-members {
	font-size: 150%;
}