.nav{
	background-color: #E54028;
    padding: 14px 16px;
  }

.nav-tabs {
	list-style-type: none;
	margin: 0;
	padding: 14px 16px;
	display: inline-block;
	font-size: 150%;
	text-align: center;
}

.nav-tabs a{
	text-decoration: none;
	color: #D0D102;
}

.nav-tabs a:hover {
	background-color: #616161;
	padding: 14px 16px;
}

.active {
	background-color: #00A1CB;
}

li {
	list-style-type: none;
}

.budget-cat {
	font-size: 200%;
	padding-bottom: 20px;

}

#new-cat a {
	color: blue;
	text-decoration: none;
}

.garden-members {
	width: 250px;
	height: auto;
	float: left;
}     

.friends {
	width: 250px;
	height: auto;
	float: left;
}

.garden-members li{
	font-size: 150%;
	padding-bottom: 5px;
}

.friends li {
	font-size: 150%;
	padding-bottom: 5px;
}

#edit-members a {
	color: blue;
	text-decoration: none;
	font-weight: bold;
	font-size: 125%;
}

#edit-friends a { 
	color: blue;
	text-decoration: none;
	font-weight: bold;
	font-size: 125%
}

.on-button a {
	text-decoration: none;
	color: blue;
}

.off-button a {
	text-decoration: none;
	color: blue;
}
